div.toolbar
    RadioGroup(v-model="viewMode", type="button")
        Radio(label="desktop", :style="{fontSize: '25px'}")
            Icon(type="ios-desktop")
        Radio(icon="md-desktop", label="std-desktop")
            Icon(type="md-desktop")
        Radio(label="pad", :style="{fontSize: '28px'}")
            Icon(type="md-phone-landscape")
        Radio( label="phone")
            Icon(type="md-phone-portrait")
    Icon(type="md-phone-portrait", class="just-icon")
    Slider(v-model="width", :min="320", :max="1280", show-tip="hover")
    Icon(type="ios-desktop", class="just-icon")
