#homePage
  .head
    #name-wrap 当前大楼:&#12288;
      span(v-if="show") {{$store.state.HomePageStore.buildingName}}
      el-input(v-model="$store.state.HomePageStore.changeName" placeholder="请输入公司名称" v-else)
      i.el-icon-edit-outline(@click="editIcon" v-if="show")
      .button(v-else)
        span(@click="changeNameClick") 确定
        span(@click="clear") 取消
    .message-box
      .icon
      .message-wrap
        .title 基本情况
        .message.blue
          span.weight {{$store.state.HomePageStore.companyList}}
          span 公司总数
        .message.green
          span.weight {{$store.state.HomePageStore.floor}}
          span 大厦层数
        .message.yellow
          span.weight {{$store.state.HomePageStore.peopleList}}
          span 办公人数
  .chart-wrap
    .heads
      span.people 进出人数统计
      el-date-picker(v-model="$store.state.HomePageStore.month" type="month" placeholder="请选择月份" :clearable="false" value-format="yyyy-MM", @change="searchTime", :popper-class="'time-picker-wrap'")
    .chart(ref="chart")
  .card
    .company
      .headers 公司人数
      .left(@click="paging('-')")
        i.el-icon-arrow-left
      .right(@click="paging('+')")
        i.el-icon-arrow-right
      .plan-wrap
        .plan(v-for="(item, index) in $store.state.HomePageStore.companyPeople" :key="index")
          .plan-item
            span {{item.name}}
            span {{`${item.arrivePeople}/${item.people}人`}}
          el-progress(:percentage="percentage(item.arrivePeople, item.people)", :format="format", :color="color")
        .page 总共{{$store.state.HomePageStore.total}}条_第{{pageNum}}页
    .today
      .headers 今日进出
      .pie(ref="pie")