Menu(active-name="0-2", theme="dark", :style="{height:'100%'}", width="auto", :open-names="['0']", accordion)
    Submenu(name="1")
        template(slot="title")
            Icon(type="md-cube")
            span 设计
        Tabs(type="line", v-model="tab", capture-focus=true, @on-click="choseTab")
            TabPane(:label="'网页'", icon="md-browsers", name="page")
                Layout(:style="{minHeight:'25vh'}")
                    Header(class="searchToolbar")
                        Input(suffix="ios-search", placeholder="请输入网页名称")
                        AddPagePopup
                    Content
                        PageTree
            TabPane(:label="'样式'", icon="ios-brush-outline" name="style")
                StylePane
            TabPane(:label="'组件'", icon="md-archive", name="component")
                Layout(:style="{minHeight:'25vh'}")
                    Header(class="searchToolbar")
                        Input(suffix="ios-search", placeholder="请输入网页名称")
                        AddPagePopup
                    Content no data

    Submenu(name="3")
        template(slot="title")
            Icon(type="ios-keypad")
            span 数据
        MenuItem(name="3-1") Option 1
        MenuItem(name="3-2") Option 2

    Submenu(name="7")
        template(slot="title")
            Icon(type="md-people")
            span 用户
        MenuItem(name="7-1") Option 1
        MenuItem(name="7-2") Option 2

    Submenu(name="6")
        template(slot="title")
            Icon(type="md-appstore")
            span 商城
        MenuItem(name="6-1") Option 1
        MenuItem(name="6-2") Option 2

    Submenu(name="5")
        template(slot="title")
            Icon(type="md-analytics")
            span 流量
