#personnel-wrap
  .search-wrap
    .left
      span 姓名:
      el-input(v-model="$store.state.PersonnelStore.peopleName" clearable)
      span 公司名称:
      el-input(v-model="$store.state.PersonnelStore.name" clearable)
      span 楼层:
      el-input(v-model="$store.state.PersonnelStore.floor" clearable)
    .right(@click='search')
      .search 搜索
  .botton-wrap
    //- .add(@click="showDialogAdd('新增人员')")
    //-   i.el-icon-circle-plus-outline
    //-   span 新增
    //- .compile(@click="showDialogCompile('编辑人员')")
    //-   i.el-icon-edit-outline
    //-   span 编辑
    el-popover(placement="top" width="160" v-model="visible")
      p 确定离职该员工吗？
      div(style="text-align: right; margin: 0")
        el-button(size="mini" type="text" @click="visible = false, $refs.table.clearSelection()") 取消
        el-button(type="primary" size="mini" @click="visible = false, deleteCompony()") 确定
      .delete(slot="reference")
        i.el-icon-delete
        span 离职
    .delete(@click="$refs.file.click()")
      i.el-icon-upload
      span 人员导入
      input(type="file" ref="file" @change="upDateFile" style="display: none")
    .delete(@click="downloadPeople")
      i.el-icon-download
      span 人员下发
  .table-wrap(v-loading="$store.state.PersonnelStore.loading" element-loading-text="加载中...")
    el-table(:data="$store.state.PersonnelStore.tableData" ref="table", stripe, width="100%", border, @selection-change="selectChange")
      el-table-column(type="selection" width="40", :selectable="disable")
      el-table-column(type="index" label="序号" width="70", :index="getIndex")
      el-table-column(prop="empName" label="姓名")
      el-table-column(prop="empNumber" label="工号")
      el-table-column(prop="companyName" label="所属公司" show-overflow-tooltip)
      el-table-column(prop="subordinate" label="所属部门")
      el-table-column(prop="floor" label="楼层")
      el-table-column(label="人员类型")
        template(slot-scope="scope") {{ scope.row.type == 1 ? '正式人员' : '访客人员' }}
      el-table-column(label="状态")
        template(slot-scope="scope") {{ scope.row.ispresent == 1 ? '离职' : scope.row.ispresent === "0" ? '在职' : '无数据' }}
      el-table-column(label="头像")
        template(slot-scope="scope")
          span(v-if="scope.row.faceUrl" class="examine") 查看图片
            img(:src="scope.row.faceUrl")
          span(v-else @click="$refs.fileImg.click()" class="updataImg") 上传图片
            input(type="file" ref="fileImg" @change="upDateImgs(scope.row.id, $event)" style="display: none")
  .page-wrap
    el-pagination(@current-change="handleCurrentChange", :current-page="$store.state.PersonnelStore.pageNum", :page-size="$store.state.PersonnelStore.pageSize" layout="total, prev, pager, next, jumper", :total="$store.state.PersonnelStore.total")
  //- dialog-box(:show.sync="show", :title="title", @clear="clear", @confirm="confirm('ruleForm')" width="6rem")
  //-   el-form(:model="$store.state.PersonnelStore.ruleForm", :rules="$store.state.PersonnelStore.rules" ref="ruleForm" label-width="1rem" class="rule-form")
  //-     el-form-item(label="公司名称" prop="companyName")
  //-       el-input(v-model="$store.state.PersonnelStore.ruleForm.companyName" placeholder='请输入公司名称')
  //-     el-form-item(label="楼层" prop="floor")
  //-       el-input(v-model="$store.state.PersonnelStore.ruleForm.floor" placeholder='请输入楼层')
  //-     el-form-item(label="入住日期" prop="checkIdTime")
  //-       el-input(v-model="$store.state.PersonnelStore.ruleForm.checkIdTime" placeholder='格式 YYYY-MM-dd')
  //-     el-form-item(label="负责人" prop="personCharge")
  //-       el-input(v-model="$store.state.PersonnelStore.ruleForm.personCharge" placeholder='请输入负责人')