span
    Input(v-if="type=='text'", v-model="value")
    input(v-else-if="type=='color'", type="color", v-model="this.value")
    Switch(v-else-if="type=='switch'", size="small", v-model="this.value")
    InputNumber(v-else-if="type=='number'", v-model="this.value")
    Select(v-else-if="type=='select'")
        Option(v-for="item in options", :value="item", :key="item") {{item}}
    RadioGroup(v-else-if="type=='radio'", v-model="this.value", vertical)
        Radio(v-for="item in options", :label="item")
            Icon(type="this.icon")
            span {{item}}
    CheckboxGroup(v-else-if="type=='checkbox'", v-model="this.value", vertical)
        Checkbox(v-for="item in options", :label="item")
            Icon(type="this.icon")
            span {{item}}
